 .u-section-1 {
  min-height: 613px;
  background-image: none;
}

.u-section-1 .u-slider-1 {
  min-height: 613px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/5-nivel1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  width: 409px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-1 .u-video-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-3 {
  margin: 186px auto 0;
}

.u-section-1 .u-text-4 {
  width: 409px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .u-video-2 {
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-1 .u-text-5 {
  margin: 186px auto 0;
}

.u-section-1 .u-text-6 {
  width: 409px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-1 .embed-responsive-2 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/paperfight.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-1 .u-text-7 {
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  width: 409px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/vr.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 60px;
}

.u-section-1 .u-text-9 {
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  width: 409px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-1 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/santa.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 60px;
}

.u-section-1 .u-text-11 {
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  width: 409px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-1 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/mymemories.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 60px;
}

.u-section-1 .u-text-13 {
  margin: 186px auto 0;
}

.u-section-1 .u-text-14 {
  width: 409px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-1 .u-image-6 {
  background-image: url("images/flappybird.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 60px;
}

.u-section-1 .u-text-15 {
  margin: 186px auto 0;
}

.u-section-1 .u-text-16 {
  width: 409px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  left: 50px;
  position: absolute;
  right: auto;
  background-image: none;
  padding: 10px;
}

.u-section-1 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  left: auto;
  position: absolute;
  right: 50px;
  background-image: none;
  padding: 10px;
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 534px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 474px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 490px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 410px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 475px;
  }

  .u-section-1 .u-text-2 {
    width: 320px;
  }

  .u-section-1 .u-text-4 {
    width: 320px;
  }

  .u-section-1 .u-text-6 {
    width: 320px;
  }

  .u-section-1 .u-text-8 {
    width: 320px;
  }

  .u-section-1 .u-text-10 {
    width: 320px;
  }

  .u-section-1 .u-text-12 {
    width: 320px;
  }

  .u-section-1 .u-text-14 {
    width: 320px;
  }

  .u-section-1 .u-text-16 {
    width: 320px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 546px;
}

.u-section-2 .u-image-1 {
  width: 303px;
  height: 303px;
  margin: 122px auto 0 199px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  margin: -303px auto 0 587px;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0 587px;
}

.u-section-2 .u-text-3 {
  line-height: 1.8;
  margin: 20px 23px 0 587px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 60px 587px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 128px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -314px;
    margin-left: 470px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 470px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 14px;
    margin-left: 470px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 120px;
    margin-left: 29px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -309px;
    margin-left: 360px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 360px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 360px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-2 .u-image-1 {
    width: 249px;
    height: 249px;
    margin-top: 148px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -262px;
    margin-left: 286px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 286px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 270px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 286px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 35px;
    margin-left: 36px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 30px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 8px;
    margin-right: 8px;
    margin-left: 47px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 70px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: auto;
  }
}